# Dependencies
node_modules/
_node_modules/

# HonKit build output
_book/

# Logs
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Obsidian local config
.obsidian/

# Git internal (already ignored by Git, but safe to keep)
.git/